body {
  margin: 0;
  font-family:   The Girl Next Door;
  /* font-family: font-awesome; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  background: #c4dbf0;
  color: navy;
}
/* source: google fonts */

input {
  font-family: The Girl Next Door;
}

header,
nav,
footer {
  margin-top: 0px;
  margin-left: 20px;
  margin-right: 20px;
}

header {
  font-size: 60px;
  font-weight: bolder;
}

footer {
  text-align: center;
  height: 40px;
  position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

/* code below applies to the nav bar and links on site */
nav {
  display: flex;
  justify-content: space-evenly
}

a:link {
  text-decoration: none;
  color: navy
}

/* visited link */
a:visited {
 color: navy
}

/* mouse over link */
a:hover {
  color: navy;
  font-weight: bolder;
}

nav a {
text-align: center;
font-size: 17px;
font-weight: bold;
}

/* code below applies to home page only*/
.homepagecontent {
  background: url(https://image.apost.com/media/articletranslation/2018/06/25/12/be53ce80cd2b67e87a7fc5b5dc162961_500x1.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: 75%;
  position: relative;
  top: 60px;
    bottom: 40px;
    left: 0;
    right: 0;
    overflow: auto;
 }

.spinner {
}

/* code below applies to the All Meals page only */
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 25px;
  }
  
  img {
    height: 140px;
    width: 200px;
    border: solid orange 5px
  }

  .card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 200px;
    height: 220px;
    object-fit: contain;
   text-align: center;
   font-weight: bold;
    margin: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-transform: capitalize;
    border: solid red 5px
  }

  /* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container {
  padding: 2px 16px;
  border: solid yellow 5px
}

/* code below applies to meal detail page only  */
.content {
align-content: center;
margin-top: 100px;
}

.recipecardmealname{
  text-align: center;
  font-size: 30px;
}

h1 {
  margin-top: 0px;
  margin-bottom: 10px
}

.recipecard {
   display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  text-align: left;
  font-size: 20px;
  font-weight: bold;
  border: solid rgb(219, 233, 247) 20px;
  width: 600px;
  height: auto;
  background: url(https://st2.depositphotos.com/2087307/12324/i/450/depositphotos_123246144-stock-photo-blue-wood-background.jpg) center center fixed;
  background-size: 600px auto;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-transform: capitalize
}

.recipecard:hover {
  box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.2);
}

i {
  font-size: 10px;
  padding-left: 5px;
  padding-right: 5px
}

/* code below applies to the planner pages only */
.plannercontent{ 
  margin-right: 25px;
  margin-left: 25px
}
.weeklycalendar {
  display: grid;
  grid-template-columns: repeat(7, auto);
  grid-template-rows: repeat(2);
  grid-gap: 20px;
}

.monthlycalendar {
  display: grid;
  grid-template-columns: repeat(7, auto);
  grid-template-rows: repeat(4);
  grid-row-gap: 50px;
  grid-column-gap: 20px
}

.dayoftheweek {
  border-bottom: dotted navy 5px;
  height: 200px;
  width: 175px;
  border: dotted navy 2px;
  font-size: 30px;
 }

h3 {
  margin: 0px
}

.comingsoon {
  font-size: 100px;
  justify-content: center;
}

